// Global styles
@import '../../../styles/base/settings';
@import '../../../styles/mixins/transition';

// Variables
$color-bright: #fff;
$color-light: #999;

// Container
.container {
  background-color: #343a40;
  bottom: 0;
  color: #999;
  height: $footer-height-xs;
  left: 0;
  padding-top: 1rem;
  position: absolute;
  right: 0;
  text-align: center;

  a {
    @include transition-link;

    &:hover {
      text-decoration: none;
    }
  }

  @media (min-width: $breakpoint-sm) {
    height: $footer-height-sm;
    padding-top: 1.75rem;
    text-align: left;
  }
}

// Navigation
.navigation {
  list-style: none;
  margin: 0 0 1.15rem 0;
  padding: 0;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 1.5rem;
  }

  > li {
    display: inline;
    font-size: 0.85rem;

    & + li {
      margin-left: 1rem;
    }

    @media (min-width: $breakpoint-sm) {
      font-size: 0.9rem;
    }
  }

  :global(.link) {
    color: $color-bright;

    &:hover {
      color: $color-light;
    }
  }
}

// Continuous Integration
.ci-status {
  margin-bottom: 1.15rem;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 1.5rem;
  }
}

// Legal
.legal {
  font-size: 0.8rem;

  @media (min-width: $breakpoint-sm) {
    font-size: 0.875rem;
  }

  p {
    margin-bottom: 0.25rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: $breakpoint-sm) {
      margin-bottom: 0.35rem;
    }
  }

  :global(.link) {
    color: $color-light;

    &:hover {
      color: $color-bright;
    }
  }
}
