// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Screen sizes
$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Layout
$footer-height-xs: 145px;
$footer-height-sm: 175px;
$header-height-xs: 35px;
$header-height-sm: 45px;
